/* Table */
table {
  width: 100%;
  border-collapse: collapse;
  border: 10px solid #BBF246;
  color: #313131;
  margin-bottom: 10px;
}

/* Table Header */
th {
  background-color: #BBF246;
  
  padding: 8px;
  text-align: left;
  color: #000;
}

/* Table Body */
td {
  border: 10px solid #374F06;
  padding: 8px;
  background-color: #fff;
  
}



/* Hover Effect */
tr:hover {
  background-color: #f2f2f2;
  color: #000;
}

.showMod {
    background-color: #BBF246;
}
